/* line 2, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* line 6, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
body {
  font-family: "Lato", sans-serif !important;
  color: rgba(47, 54, 64, 0.8);
}

/* line 10, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
body::-webkit-scrollbar {
  width: 7px;
}

/* line 13, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #034184;
  border: 1px solid 03418420;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
}

/* line 21, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
body::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0px 0px 8px 0px #034184;
  border-radius: 0px;
}

/* line 26, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
a {
  text-decoration: none;
}

/* line 28, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
a:hover {
  text-decoration: none;
}

/* line 32, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
input,
button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: #ffffff;
}

/* line 38, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
input:focus,
button:focus {
  outline: none;
}

/* colors */
/* line 43, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.primary-dark-color {
  color: #2f3640;
}

/* line 46, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.secondary-dark-color {
  color: rgba(47, 54, 64, 0.8);
}

/* line 49, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.theme-color {
  color: #034184;
}

/* line 52, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.secondary-white-color {
  color: rgba(255, 255, 255, 0.7);
}

/* width */
/* line 57, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.half-width {
  width: 50%;
}

/* line 60, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.full-width {
  width: 100%;
}

/* display */
/* line 65, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.display-blk {
  display: block;
  width: 100%;
}

/* line 69, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.display-in-blk {
  display: inline-block;
}

/* line 72, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.display-table {
  display: table;
}

/* line 75, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.display-table-cell {
  display: table-cell;
}

/* section padding */
/* line 80, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.section-tb-padd {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* positions */
/* line 86, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.pos-rel {
  position: relative;
}

/* line 89, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.pos-abs {
  position: absolute;
}

/* line 92, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.noscroll {
  overflow: hidden;
}

/* line 96, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.border-radiud-4 {
  border-radius: 4px;
}

/* line 99, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.black-layer {
  position: relative;
}

/* line 101, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.black-layer:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

/* line 112, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer {
  position: relative;
}

/* line 114, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer:before {
  position: absolute;
  content: "";
  background: #034184;
  opacity: 0.1;
  border-radius: 4px;
  width: 60%;
  height: 60%;
}

/* line 124, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer.topL:before {
  left: -40px;
  top: -50px;
}

/* line 130, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer.topR:before {
  right: -40px;
  top: -50px;
}

/* line 136, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer.bottomR:before {
  right: -40px;
  bottom: -50px;
}

/* line 142, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.d3-layer.bottomL:before {
  left: -40px;
  bottom: -40px;
}

/* line 149, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.cta {
  display: inline-flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  padding: 0 15px;
  color: #ffffff;
  background: #034184;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid #034184;
  border-radius: 4px;
  font-weight: 700;
  width: 150px;
  font-style: normal;
  text-transform: capitalize;
}

/* line 165, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.cta:hover {
  color: #034184;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

/* line 172, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.main-heading {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  color: #034184;
  text-transform: uppercase;
}

/* line 178, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.main-heading:before, .main-heading:after {
  content: "";
  height: 4px;
  width: 50%;
  background: #034184;
  display: block;
  position: absolute;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

/* line 189, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.main-heading:before {
  top: -5px;
}

/* line 192, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.main-heading:after {
  bottom: -5px;
}

/* line 196, /Users/rivigo/Desktop/extra/rivigo-port/src/scss/common.scss */
.main-heading:hover:before, .main-heading:hover:after {
  width: 100%;
}

/*# sourceMappingURL=../css/common.map */