/* line 2, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* line 6, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
body {
  font-family: "Lato", sans-serif !important;
  color: rgba(47, 54, 64, 0.8);
}

/* line 10, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
body::-webkit-scrollbar {
  width: 7px;
}

/* line 13, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #034184;
  border: 1px solid 03418420;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
}

/* line 21, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
body::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0px 0px 8px 0px #034184;
  border-radius: 0px;
}

/* line 26, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
a {
  text-decoration: none;
}

/* line 28, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
a:hover {
  text-decoration: none;
}

/* line 32, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
input,
button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: #ffffff;
}

/* line 38, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
input:focus,
button:focus {
  outline: none;
}

/* colors */
/* line 43, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.primary-dark-color {
  color: #2f3640;
}

/* line 46, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.secondary-dark-color {
  color: rgba(47, 54, 64, 0.8);
}

/* line 49, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.theme-color {
  color: #034184;
}

/* line 52, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.secondary-white-color {
  color: rgba(255, 255, 255, 0.7);
}

/* width */
/* line 57, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.half-width {
  width: 50%;
}

/* line 60, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.full-width {
  width: 100%;
}

/* display */
/* line 65, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.display-blk {
  display: block;
  width: 100%;
}

/* line 69, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.display-in-blk {
  display: inline-block;
}

/* line 72, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.display-table {
  display: table;
}

/* line 75, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.display-table-cell {
  display: table-cell;
}

/* section padding */
/* line 80, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.section-tb-padd {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* positions */
/* line 86, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.pos-rel {
  position: relative;
}

/* line 89, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.pos-abs {
  position: absolute;
}

/* line 92, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.noscroll {
  overflow: hidden;
}

/* line 96, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.border-radiud-4 {
  border-radius: 4px;
}

/* line 99, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.black-layer {
  position: relative;
}

/* line 101, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.black-layer:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

/* line 112, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer {
  position: relative;
}

/* line 114, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer:before {
  position: absolute;
  content: "";
  background: #034184;
  opacity: 0.1;
  border-radius: 4px;
  width: 60%;
  height: 60%;
}

/* line 124, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer.topL:before {
  left: -40px;
  top: -50px;
}

/* line 130, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer.topR:before {
  right: -40px;
  top: -50px;
}

/* line 136, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer.bottomR:before {
  right: -40px;
  bottom: -50px;
}

/* line 142, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.d3-layer.bottomL:before {
  left: -40px;
  bottom: -40px;
}

/* line 149, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.cta {
  display: inline-flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  padding: 0 15px;
  color: #ffffff;
  background: #034184;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid #034184;
  border-radius: 4px;
  font-weight: 700;
  width: 150px;
  font-style: normal;
  text-transform: capitalize;
}

/* line 165, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.cta:hover {
  color: #034184;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

/* line 172, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.main-heading {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  color: #034184;
  text-transform: uppercase;
}

/* line 178, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.main-heading:before, .main-heading:after {
  content: "";
  height: 4px;
  width: 50%;
  background: #034184;
  display: block;
  position: absolute;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

/* line 189, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.main-heading:before {
  top: -5px;
}

/* line 192, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.main-heading:after {
  bottom: -5px;
}

/* line 196, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/common.scss */
.main-heading:hover:before, .main-heading:hover:after {
  width: 100%;
}

/* margin and padding */
/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-0 {
  margin-top: 0px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-0 {
  margin: 0px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-0 {
  padding-top: 0px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-0 {
  padding: 0px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-0 {
  margin-bottom: 0px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-0 {
  margin: 0px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-0 {
  padding-bottom: 0px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-0 {
  padding: 0px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-0 {
  margin-left: 0px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-0 {
  margin: 0px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-0 {
  padding-left: 0px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-0 {
  padding: 0px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-0 {
  margin-right: 0px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-0 {
  margin: 0px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-0 {
  padding-right: 0px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-0 {
  padding: 0px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-5 {
  margin-top: 5px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-5 {
  margin: 5px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-5 {
  padding-top: 5px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-5 {
  padding: 5px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-5 {
  margin-bottom: 5px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-5 {
  margin: 5px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-5 {
  padding-bottom: 5px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-5 {
  padding: 5px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-5 {
  margin-left: 5px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-5 {
  margin: 5px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-5 {
  padding-left: 5px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-5 {
  padding: 5px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-5 {
  margin-right: 5px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-5 {
  margin: 5px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-5 {
  padding-right: 5px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-5 {
  padding: 5px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-10 {
  margin-top: 10px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-10 {
  margin: 10px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-10 {
  padding-top: 10px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-10 {
  padding: 10px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-10 {
  margin-bottom: 10px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-10 {
  margin: 10px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-10 {
  padding-bottom: 10px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-10 {
  padding: 10px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-10 {
  margin-left: 10px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-10 {
  margin: 10px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-10 {
  padding-left: 10px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-10 {
  padding: 10px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-10 {
  margin-right: 10px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-10 {
  margin: 10px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-10 {
  padding-right: 10px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-10 {
  padding: 10px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-15 {
  margin-top: 15px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-15 {
  margin: 15px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-15 {
  padding-top: 15px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-15 {
  padding: 15px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-15 {
  margin-bottom: 15px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-15 {
  margin: 15px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-15 {
  padding-bottom: 15px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-15 {
  padding: 15px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-15 {
  margin-left: 15px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-15 {
  margin: 15px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-15 {
  padding-left: 15px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-15 {
  padding: 15px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-15 {
  margin-right: 15px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-15 {
  margin: 15px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-15 {
  padding-right: 15px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-15 {
  padding: 15px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-20 {
  margin-top: 20px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-20 {
  margin: 20px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-20 {
  padding-top: 20px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-20 {
  padding: 20px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-20 {
  margin-bottom: 20px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-20 {
  margin: 20px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-20 {
  padding-bottom: 20px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-20 {
  padding: 20px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-20 {
  margin-left: 20px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-20 {
  margin: 20px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-20 {
  padding-left: 20px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-20 {
  padding: 20px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-20 {
  margin-right: 20px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-20 {
  margin: 20px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-20 {
  padding-right: 20px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-20 {
  padding: 20px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-25 {
  margin-top: 25px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-25 {
  margin: 25px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-25 {
  padding-top: 25px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-25 {
  padding: 25px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-25 {
  margin-bottom: 25px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-25 {
  margin: 25px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-25 {
  padding-bottom: 25px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-25 {
  padding: 25px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-25 {
  margin-left: 25px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-25 {
  margin: 25px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-25 {
  padding-left: 25px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-25 {
  padding: 25px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-25 {
  margin-right: 25px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-25 {
  margin: 25px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-25 {
  padding-right: 25px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-25 {
  padding: 25px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-30 {
  margin-top: 30px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-30 {
  margin: 30px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-30 {
  padding-top: 30px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-30 {
  padding: 30px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-30 {
  margin-bottom: 30px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-30 {
  margin: 30px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-30 {
  padding-bottom: 30px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-30 {
  padding: 30px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-30 {
  margin-left: 30px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-30 {
  margin: 30px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-30 {
  padding-left: 30px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-30 {
  padding: 30px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-30 {
  margin-right: 30px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-30 {
  margin: 30px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-30 {
  padding-right: 30px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-30 {
  padding: 30px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-35 {
  margin-top: 35px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-35 {
  margin: 35px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-35 {
  padding-top: 35px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-35 {
  padding: 35px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-35 {
  margin-bottom: 35px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-35 {
  margin: 35px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-35 {
  padding-bottom: 35px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-35 {
  padding: 35px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-35 {
  margin-left: 35px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-35 {
  margin: 35px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-35 {
  padding-left: 35px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-35 {
  padding: 35px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-35 {
  margin-right: 35px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-35 {
  margin: 35px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-35 {
  padding-right: 35px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-35 {
  padding: 35px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-40 {
  margin-top: 40px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-40 {
  margin: 40px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-40 {
  padding-top: 40px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-40 {
  padding: 40px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-40 {
  margin-bottom: 40px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-40 {
  margin: 40px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-40 {
  padding-bottom: 40px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-40 {
  padding: 40px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-40 {
  margin-left: 40px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-40 {
  margin: 40px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-40 {
  padding-left: 40px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-40 {
  padding: 40px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-40 {
  margin-right: 40px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-40 {
  margin: 40px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-40 {
  padding-right: 40px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-40 {
  padding: 40px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-45 {
  margin-top: 45px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-45 {
  margin: 45px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-45 {
  padding-top: 45px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-45 {
  padding: 45px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-45 {
  margin-bottom: 45px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-45 {
  margin: 45px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-45 {
  padding-bottom: 45px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-45 {
  padding: 45px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-45 {
  margin-left: 45px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-45 {
  margin: 45px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-45 {
  padding-left: 45px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-45 {
  padding: 45px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-45 {
  margin-right: 45px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-45 {
  margin: 45px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-45 {
  padding-right: 45px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-45 {
  padding: 45px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-50 {
  margin-top: 50px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-50 {
  margin: 50px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-50 {
  padding-top: 50px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-50 {
  padding: 50px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-50 {
  margin-bottom: 50px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-50 {
  margin: 50px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-50 {
  padding-bottom: 50px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-50 {
  padding: 50px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-50 {
  margin-left: 50px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-50 {
  margin: 50px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-50 {
  padding-left: 50px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-50 {
  padding: 50px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-50 {
  margin-right: 50px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-50 {
  margin: 50px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-50 {
  padding-right: 50px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-50 {
  padding: 50px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-75 {
  margin-top: 75px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-75 {
  margin: 75px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-75 {
  padding-top: 75px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-75 {
  padding: 75px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-75 {
  margin-bottom: 75px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-75 {
  margin: 75px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-75 {
  padding-bottom: 75px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-75 {
  padding: 75px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-75 {
  margin-left: 75px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-75 {
  margin: 75px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-75 {
  padding-left: 75px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-75 {
  padding: 75px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-75 {
  margin-right: 75px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-75 {
  margin: 75px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-75 {
  padding-right: 75px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-75 {
  padding: 75px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-top-100 {
  margin-top: 100px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-100 {
  margin: 100px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-top-100 {
  padding-top: 100px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-100 {
  padding: 100px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-bottom-100 {
  margin-bottom: 100px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-100 {
  margin: 100px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-bottom-100 {
  padding-bottom: 100px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-100 {
  padding: 100px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-left-100 {
  margin-left: 100px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-100 {
  margin: 100px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-left-100 {
  padding-left: 100px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-100 {
  padding: 100px;
}

/* line 9, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-right-100 {
  margin-right: 100px;
}

/* line 12, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.mar-all-100 {
  margin: 100px;
}

/* line 15, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-right-100 {
  padding-right: 100px;
}

/* line 18, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/mixins.scss */
.pad-all-100 {
  padding: 100px;
}

/* line 4, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.home-banner {
  /* height: 560px; */
  height: 100vh;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 50%, #034184 50%, #034184 99%, #034184 100%);
  background: -webkit-gradient(left top, right top, color-stop(50%, #ffffff), color-stop(50%, #034184), color-stop(99%, #034184), color-stop(100%, #034184));
  background: -webkit-linear-gradient(left, #ffffff 50%, #034184 50%, #034184 99%, #034184 100%);
  background: -o-linear-gradient(left, #ffffff 50%, #034184 50%, #034184 99%, #034184 100%);
  background: -ms-linear-gradient(left, #ffffff 50%, #034184 50%, #034184 99%, #034184 100%);
  background: linear-gradient(to right, #ffffff 50%, #034184 50%, #034184 99%, #034184 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#034184', GradientType=1 );
}

/* line 52, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.home-banner h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

/* line 55, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.home-banner h1 + p {
  font-size: 1.2rem;
  max-width: 480px;
}

/* line 62, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header {
  background: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in-out;
}

/* line 65, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header nav {
  justify-content: space-between !important;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

/* line 72, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header ul a {
  color: #ffffff;
  padding: 0.5rem 1rem !important;
  font-weight: 700;
  border-radius: 2px;
  transition: all 0.4s;
}

/* line 78, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header ul a:hover {
  color: #034184;
  background: #ffffff;
}

/* line 84, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active {
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

/* line 87, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active nav {
  border-bottom: 1px solid transparent;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

/* line 92, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active a {
  color: #034184;
}

/* line 94, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active a:hover {
  color: #ffffff;
  background: #034184;
}

/* line 100, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active .cust-line-b:after {
  display: none;
}

/* line 105, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active2 {
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

/* line 108, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active2 nav {
  border-bottom: 1px solid transparent;
  /* padding-top: 0rem !important;
      padding-bottom: 0rem !important; */
}

/* line 113, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active2 a {
  color: #034184;
}

/* line 115, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active2 a:hover {
  color: #ffffff;
  background: #034184;
}

/* line 121, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active2 .cust-line-b:after {
  display: none;
}

/* line 126, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header .hem-btn {
  height: 20px;
  position: relative;
  width: 20px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  margin-left: 15px;
  box-sizing: content-box;
  display: inline-block;
}

/* line 135, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header .hem-btn:before {
  border-bottom: 2px solid;
  width: 70%;
  height: 50%;
  top: 10px;
}

/* line 141, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header .hem-btn:after {
  height: 2px;
  width: 50%;
  top: 19px;
}

/* line 146, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header .hem-btn:after, header .hem-btn:before {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 2px solid;
  border-color: #ffffff;
  right: 0;
}

/* line 158, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
header.active .hem-btn:before, header.active .hem-btn:after {
  border-color: #2f3640;
}

/* line 166, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.inner-sec-header {
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

/* line 169, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.inner-sec-header nav {
  border-bottom: 1px solid transparent;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

/* line 174, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.inner-sec-header a {
  color: #034184;
}

/* line 176, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.inner-sec-header a:hover {
  color: #ffffff;
  background: #034184;
}

/* line 182, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.inner-sec-header .cust-line-b:after {
  display: none;
}

/* line 188, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.cust-line-b:after {
  position: absolute;
  width: 100%;
  content: "";
  height: 2px;
  border-radius: 2px;
  background: #034184;
  background: -moz-linear-gradient(left, #034184 0%, #034184 1%, #034184 50%, #ffffff 50%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #034184), color-stop(1%, #034184), color-stop(50%, #034184), color-stop(50%, #ffffff));
  background: -webkit-linear-gradient(left, #034184 0%, #034184 1%, #034184 50%, #ffffff 50%);
  background: -o-linear-gradient(left, #034184 0%, #034184 1%, #034184 50%, #ffffff 50%);
  background: -ms-linear-gradient(left, #034184 0%, #034184 1%, #034184 50%, #ffffff 50%);
  background: linear-gradient(to right, #034184 0%, #034184 1%, #034184 50%, #ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034184', endColorstr='#ffffff', GradientType=1 );
  bottom: -1px;
  left: 0;
}

/* line 244, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.title {
  background: #ffffff;
  padding: 30px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

/* line 250, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.title small {
  font-size: 50%;
}

/* line 253, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.title h1 {
  color: #2f3640;
}

/* line 256, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.title + .social-icons {
  margin: 20px 0 0 30px;
}

/* line 261, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.d3-layer {
  right: -10%;
}

/* line 264, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.d3-layer-right {
  padding-right: 60px;
}

/* line 268, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.social-icons {
  position: relative;
}

/* line 270, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.social-icons img {
  height: 40px;
  width: auto;
  margin-right: 20px;
  display: inline-block;
  transition: all 0.4s;
}

/* line 277, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.social-icons img:hover {
  transform: scale(1.4);
  transform-origin: center;
}

/* line 285, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.portfolio-wrapper {
  padding-top: 100px;
  padding-bottom: 70px;
  background: rgba(255, 255, 255, 0.88);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.88) 0%, rgba(13, 214, 250, 0.5) 50%, rgba(41, 128, 185, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.88)), color-stop(50%, rgba(13, 214, 250, 0.5)), color-stop(100%, rgba(41, 128, 185, 0.8)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.88) 0%, rgba(13, 214, 250, 0.5) 50%, rgba(41, 128, 185, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.88) 0%, rgba(13, 214, 250, 0.5) 50%, rgba(41, 128, 185, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.88) 0%, rgba(13, 214, 250, 0.5) 50%, rgba(41, 128, 185, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.88) 0%, rgba(13, 214, 250, 0.5) 50%, rgba(41, 128, 185, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2980b9', GradientType=0 );
}

/* line 331, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.portfolio-wrapper figure {
  position: relative;
  margin: 2rem 0;
  text-align: center;
}

/* line 335, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.portfolio-wrapper figure img {
  width: 100%;
  height: auto;
  max-width: 450px;
  max-height: 270px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

/* line 343, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.portfolio-wrapper figure figcaption {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  top: 0;
  height: 100%;
  padding: 30px;
  background: rgba(3, 65, 132, 0.8);
  color: #fff;
  font-size: 20px;
  border-radius: 2px;
  transition: all 0.4s;
  align-items: center;
  display: flex;
  opacity: 0;
  cursor: pointer;
}

/* line 361, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.portfolio-wrapper figure:hover figcaption {
  opacity: 1;
  left: -15px;
  top: -30px;
}

/* line 370, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.aboutMe-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 374, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.aboutMe-wrapper .leftPane img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

/* line 382, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.aboutMe-wrapper label {
  display: flex;
  justify-content: flex-start;
  color: rgba(47, 54, 64, 0.8);
  align-items: center;
}

/* line 387, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.aboutMe-wrapper label span {
  margin: 0 20px;
}

/* line 391, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.aboutMe-wrapper h4 {
  color: #034184;
  text-transform: capitalize;
  margin: 0;
}

/* line 399, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer {
  background-color: #04274e;
}

/* line 401, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer a,
.footer p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

/* line 407, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer .rgt-pnl {
  text-align: right;
}

/* line 411, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer ul li {
  margin: 10px 0;
}

/* line 415, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer .social-icons {
  margin-left: 0 !important;
}

/* line 417, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer .social-icons a {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

/* line 421, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer .social-icons a img {
  width: 30px;
  height: auto;
  transition: all 0.3s ease-in-out;
  filter: grayscale(0.5);
  margin-right: 0;
}

/* line 429, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
.footer .social-icons a:hover img {
  transform: scale(1.2);
  filter: grayscale(0);
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  /* line 440, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .home-banner {
    height: 460px;
  }
  /* line 443, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header {
    background: #fff;
  }
  /* line 445, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header .navbar {
    padding: .5rem 2rem;
  }
  /* line 448, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header .navbar-nav {
    flex-direction: row;
  }
  /* line 452, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header .navbar-nav .nav-item:last-of-type .nav-link {
    padding-right: 0 !important;
  }
  /* line 455, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header .navbar-nav .nav-link {
    padding: .5rem !important;
    font-size: .8rem;
    color: #034184;
  }
  /* line 461, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  header .navbar-brand img {
    width: 40px;
  }
  /* line 465, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .d3-layer {
    right: auto;
    padding: 0 15px;
    /*margin-top: 60px;*/
  }
  /* line 470, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .d3-layer.bottomL:before {
    opacity: 0;
  }
  /* line 473, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .d3-layer-right {
    display: none;
  }
  /* line 476, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .title {
    padding: 16px;
  }
  /* line 478, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .title h1 {
    font-size: 1.5rem;
  }
  /* line 480, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .title h1 small {
    font-size: 70%;
  }
  /* line 483, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .title h1 + p {
    font-size: 1rem;
  }
  /* line 489, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .footer .lft-pnl {
    text-align: center;
  }
  /* line 490, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .footer .rgt-pnl {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 20px;
  }
  /* line 495, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .footer .rgt-pnl .social-icons a {
    margin-left: 15px;
    margin-right: 15px;
  }
  /* line 502, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .social-icons {
    margin: 15px 0 0 15px !important;
  }
  /* line 504, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .social-icons img {
    height: 24px;
    margin-right: 16px;
  }
  /* line 510, /Users/Vipin/Desktop/github/vipin-chander.github.io/scss/style.scss */
  .aboutMe-wrapper .leftPane {
    text-align: center;
  }
}

/*# sourceMappingURL=../css/style.map */