@import "variables";
html {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.7;
  scroll-behavior: smooth;
}
body {
  font-family: $font-stack !important;
  color: $secondary-dark-color;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #034184;
  border: 1px solid 03418420;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0px 0px 8px 0px #034184;
  border-radius: 0px;
}
a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
input,
button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: $primary-white-color;
  &:focus {
    outline: none;
  }
}
/* colors */
.primary-dark-color {
  color: $primary-dark-color;
}
.secondary-dark-color {
  color: $secondary-dark-color;
}
.theme-color {
  color: $theme-color;
}
.secondary-white-color {
  color: $secondary-white-color;
}

/* width */
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}

/* display */
.display-blk {
  display: block;
  width: 100%;
}
.display-in-blk {
  display: inline-block;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
}

/* section padding */
.section-tb-padd {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* positions */
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.noscroll {
  overflow: hidden;
}

.border-radiud-4 {
  border-radius: 4px;
}
.black-layer {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
  }
}
.d3-layer {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background: $theme-color;
    opacity: 0.1;
    border-radius: 4px;
    width: 60%;
    height: 60%;
  }
  &.topL {
    &:before {
      left: -40px;
      top: -50px;
    }
  }
  &.topR {
    &:before {
      right: -40px;
      top: -50px;
    }
  }
  &.bottomR {
    &:before {
      right: -40px;
      bottom: -50px;
    }
  }
  &.bottomL {
    &:before {
      left: -40px;
      bottom: -40px;
    }
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  padding: 0 15px;
  color: $primary-white-color;
  background: $theme-color;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid $theme-color;
  border-radius: 4px;
  font-weight: 700;
  width: 150px;
  font-style: normal;
  text-transform: capitalize;
  &:hover {
    color: $theme-color;
    background: $primary-white-color;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  }
  &.text{
    height: auto;
    color: $theme-color;
    padding: 0 0 2px 0;
    border: none;
    width: auto;
    background: none;
    position: relative;
    &:after{
      content: "";
      height: 3px;
      width: 0;
      background: #034184;
      display: block;
      position: absolute;
      border-radius: 2px;
      transition: all 0.4s ease-in-out;
      bottom: 0;
      left:  0;
    }
    &:hover{
      background: none;
      box-shadow: none;
      &:after {
        width: 100%;
      }
    }
  }
}

.main-heading {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  color: $theme-color;
  text-transform: uppercase;
  &:before,
  &:after {
    content: "";
    height: 4px;
    width: 50%;
    background: #034184;
    display: block;
    position: absolute;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
  }
  &:before {
    top: -5px;
  }
  &:after {
    bottom: -5px;
  }
  &:hover {
    &:before,
    &:after {
      width: 100%;
    }
  }
}
.bx-sdw{
  border-radius: 16px;
  box-shadow: 0px 60px 65px 10px rgba(0,0,0,.1);
}
