$font-stack: "Lato", sans-serif;
$primary-dark-color: #2f3640;
$secondary-dark-color: rgba(47,54,64, .8);
$theme-color: #034184;
$primary-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.7);
